.info__item {
  display: flex;
  align-items: center;
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.info {
  display: flex;
  margin-left: 305px;
}

.info__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  transition: color 250ms var(--times-functional);
  color: var(--text-color);
  font-weight: 500;
  letter-spacing: 0.02em;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.info__icon-envelope {
  margin-right: 10px;
  fill: var(--text-color);
  transition: fill 250ms var(--times-functional);

  .info__link:hover &,
  .info__link:focus & {
    fill: var(--accent-color);
  }
}

.info__icon-smartphone {
  margin-right: 10px;
  fill: var(--text-color);
  transition: fill 250ms var(--times-functional);

  .info__link:hover &,
  .info__link:focus & {
    fill: var(--accent-color);
  }
}
